<!-- The following code belongs to the github account: https://github.com/mikhail-cct/CA1-In-class-Demo.git, -->
<!-- which was adjusted and mofidied in order to create the "Timepieces" Web App -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Timepieces WebApp</title>
	<!-- The following links are requesting Bootstrap, Semantic UI, the css file, jquery  and fontawesome for a better styling  -->
	<link rel="stylesheet" type= "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/Timepieces.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
    
     <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	 <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
</head>

<body>
	<!-- This allows us to set the nav bar on top of the page -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">	<a class="navbar-brand" href="#">Luxury and Designer Watches at Haute Horlogerie</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				
                <ul class="nav navbar-nav navbar-right"><!-- setting up the titles on top of the page -->
					<li class="nav-item"><a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="#">Watches</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Brands</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Magazine</a></li>
                    <li><a href="#">Sign Up  <i class="edit outline"></i></i></a></li><!-- implementing icons beside the titles -->
                    <li><a href="#"></i>Login  <i class="sign-in"></a></li><!-- implementing icons beside the titles -->
				    <li><a href="#"></i>Logout  <i class="sign-out"></a></li><!-- implementing icons beside the titles -->
				


                </ul>
			</div>
		</div>
	</nav>
	<!-- This is the content of the page -->
	<div class="container">
    <header class="jumbotron"><!-- we are adding a jumbotron to show off the title of the web app -->
				<h1 class="mt-5">Welcome to Timepieces</h1>
				<p class="lead">Select your watch from our catalogue</p>
    </header>
            
            
			<div id="results" class="col-lg-8 text-center order-3"></div> <!-- with the div called results is where the table is going to be put in -->
			<div class="col-lg-4 text-center order-2">                
				<form enctype="application/json" action="/post/json" method="post">
					<div class="form-group">
						<select class="form-control" name="sec_n"><!--here is the form where we add all the sections!-->
						<option value="0">Sport Watches</option>
                        <option value="1">Casual Watches</option>
                        <option value="2">Luxury Watches</option>
                        <option value="3">Dive Watches</option>
                        <option value="4">Chronograph Watches</option>
						</select>
					</div>
					<div class="form-group"><!-- This is a form that uses place holders on each entree for the watches -->
						<input class="form-control" type="text" name="brand" placeholder="Item">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="price" placeholder="Price">
					</div>
                    <div class="form-group">
						<input class="form-control" type="text" name="precision" placeholder="Precision">
					</div>
                    <div class="form-group">
						<input class="form-control" type="text" name="discount" placeholder="Discount">
					</div>
                    <div class="form-group">
						<input class="form-control" type="text" name="stock" placeholder="Stock">
					</div>


                    <div><!--setting up the button in order to input the information from the user  -->
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </form><!--setting up the "delete" button in order to delete a row from the table -->
                    <button id="delete" class="btn btn-block btn-warning">Delete</button>
                    <p class="text-muted">To delete an item please click on the especif raw</p>

			 <hr class="my-4">
            </div>
		</div>
	</div>


    
<hr>  <!--this is a bar with movement just to style the bottom of the page, and it goes all the way horizontally  -->
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span class="sr-only">100% Complete</span>
  </div>
</div>


<hr>  <!--setting up icons representing companies that are linked to the timepieces app  -->
<div class="containerbottom">
 
<button class="ui facebook button">
  <i class="facebook icon"></i>
  Facebook
</button>
<button class="ui twitter button">
  <i class="twitter icon"></i>
  Twitter
</button>
<button class="ui instagram button">
  <i class="instagram icon"></i>
  Instagram
</button>
<button class="ui youtube button">
  <i class="youtube icon"></i>
  YouTube
</button>
<a class="nav-link" href="#">Go up!</a>
</div>
</br>
<!-- this is the footer that I'm using to put the phone number and copyright!-->
      <div class="uicontainer">
      <hr>
        <span class="text-muted">If you have any query please call us at 353-874559368</span>
        <hr>
        <span class="text-muted">&copy;Copyright Timepieces SA. All rights reserved.  Terms of Use | Privacy Notice | Cookie Notice></span>
        

      </div>
      

	<!-- Here I'm requesting Bootstrap, JavaScript and jquery -->
	<script src="jquery/jquery.min.js"></script>
	<script src="jquery/table.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>